<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>bomb.wav</key>
		<string>bomb.mp3</string>
		<key>bomb_apears.wav</key>
		<string>bomb_apears.mp3</string>
		<key>drop.wav</key>
		<string>drop.mp3</string>
		<key>pickup.wav</key>
		<string>pickup.mp3</string>
		<key>powerup.wav</key>
		<string>powerup.mp3</string>
		<key>theme.wav</key>
		<string>theme.mp3</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
